@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

.navigation {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
}

.logo {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	color: #FFFFFF;
	width: 10%;
	letter-spacing: 6px;
}

.nav-links {
	display: flex;
	justify-content: flex-end;
	list-style: none;
}
.nav-links a {
	text-decoration: none;
	font-weight: 600;
	color: white;
	display: block;
	padding: 1em;
}

.burger {
	display: none;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 4px;
    border-radius: 597px;
}

@media screen and (max-width : 720px ){
	
	.nav-links {
		position: absolute;
		right: 0px;
		height: 120vh;
		top: 9vh;
		width:50%;
		
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		transform: translateX(100%);
	}
	.nav-links li {
		opacity: 0;
	}
	.burger {
    display: block;
    cursor: pointer;
    text-shadow: 0px 0px;
    border-radius: 188px;
	}
}

.nav-active {
	z-index: 5;
	transform: translateX(0%);
	transition: transform 0.5s ease-in;
}

@keyframes navlinkFade {
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}
