@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');
/* Body */
body {
	font-family: 'Montserrat', sans-serif;
	background-color: black;
	text-decoration-color: white;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}
/* Container */
.container {
	display: flex;
	flex-flow: row wrap;
	margin-left: auto;
	margin-right: auto;
}
/* Navigation */
header {
	width: 100%;
	height: 5%;
}
.logo {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	color: #FFFFFF;
	width: 10%;
	letter-spacing: 4px;
}
.navigation {
	color: antiquewhite;
	display: flex;
	list-style: none;
	margin: 10px;
	flex-flow: row wrap;
	justify-content: flex-end;
}

.navigation a {
	text-decoration: none;
	font-weight: 700;
	display: block;
	padding: 1em;
	padding-left: 0;
	color: white;
	font-weight: bolder;
}

.copyright {
	text-align: center;
	width: 100%;
	margin: auto;
	color: white;
}

.name {
	width: 100%;
	color: white;
	text-align: center;
	font-size: 5em;
}

.name h4 {
	font-size: 5vw;
	font-weight: 200;
	padding: 0;
	margin: 0;
}

@media all and (max-width: 800px) {
	.navigation {
		justify-content: space-around;
	}
	.name h4 {
		font-size: 8vw;
	}
}

@media all and (max-width: 600px) {
	.homebtn {
		display: none;
	}
	
	.name h4 {
		font-size: 10vw;
	}
}
